node_modules/
dist/
build/
unpackage/*/*.apk
unpackage/*/*.wgt
unpackage/*/*.ipa
unpackage/*.apk
unpackage/*.wgt
unpackage/*.ipa
unpackage/.*
.idea/
.vscode
.project
.DS_Store
.vscode/
.cache
yarn.lock