.login {
    background-color: #ffffff;
    height: 100vh;
    overflow: hidden;
    .login-form {
        width: 6.2rem;
        margin: 2.52rem auto 0;
        .logo {
            width: 1.44rem;
            height: 1.44rem;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        form {
            margin-top: 1.35rem;
            margin-bottom: 1.2rem;
            .item {
                padding: .4rem .26rem .26rem;
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                line-height: .5rem;
                &::before {
                    position: absolute;
                    content: " ";
                    height: 0.02rem;
                    background-color: #eeeeee;
                    width: 100%;
                    bottom: 0;
                }
                .iconfont {
                    color: #5CC166;
                    font-weight: bold;
                    width: .5rem;
                    text-align: center;
                    font-size: .38rem;
                    margin-left: .2rem;
                    &.eye {
                        color: #cdcdcd;
                        font-size: .42rem;
                        margin-left: 0;
                        font-weight: normal;
                        padding: 0 .2rem;
                        height: .5rem;
                        display: block;
                    }
                }
                input {
                    border: 0 none;
                    flex: 1;
                    padding: 0 .4rem;
                    margin: 0;
                    color: #333333;
                    letter-spacing: .03rem;
                    font-weight: 400;
                    line-height: .5rem;
                    height: 0.5rem;
                    &::-webkit-input-placeholder {
                        color: #cdcdcd;
                        font-size: .36rem;
                        font-weight: normal;
                    }
                }
            }
        }
        .loginBtn {
            display: block;
            margin: 0 auto;
            width: 5.9rem;
            height: 0.88rem;
            line-height: 0.88rem;
            font-size: .36rem;
            text-align: center;
            background: -webkit-linear-gradient(left, #B1E34D, #5CC166);
            background: linear-gradient(to right, #B1E34D, #5CC166);
            color: #ffffff;
            border-radius: .44rem;
        }
    }
}