.main {
    background-color: #f6f6f6;
    height: 100vh;
    .app-header {
        height: .9rem;
        background-color: rgba(92, 193, 102, 0);
        width: 100%;
        overflow: hidden;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 0.4rem;
            color: #0a0a0a;
            margin-left: 0.5rem;
        }
        .bar {
            margin-right: .5rem;
            display: flex;
            align-items: center;
            i {
                font-size: .4rem;
                margin-left: .61rem;
                color: #757575;
                position: relative;
                .num {
                    position: absolute;
                    background-color: #5CC166;
                    color: #ffffff;
                    padding: 1px 5px;
                    font-size: .2rem;
                    top: -.1rem;
                    right: -.2rem;
                    display: inline-block;
                    line-height: 0.28rem;
                    height: 0.28rem;
                    border-radius: .14rem;
                    font-style: normal;
                }
            }
        }
    }
    .mui-content {
        height: 100%;
        display: flex;
        align-items: center;
        .nav {
            width: 6.4rem;
            margin: -.2rem auto 0;
            background-color: #ffffff;
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.07);
            .iconfont {
                color: #5CC166;
                font-size: .54rem;
            }
            .mui-table-view-cell {
                padding: .32rem .3rem;
                border-right: 1px solid #f7f7f7;
                border-bottom: 1px solid #f7f7f7;
                position: relative;
                &.mui-disabled {
                    &:before {
                        right: 0.24rem;
                        bottom: 0.24rem;
                        position: absolute;
                        font-family: "iconfont" !important;
                        font-size: 16px;
                        font-style: normal;
                        color: #E6E6E6;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\e650";
                        height: auto;
                    }
                }
                &.mui-active {
                    background-color: #f7f7f7;
                }
                a {
                    padding: .2rem 0;
                }
            }
            .mui-media-body {
                font-size: .28rem;
                color: #999999;
                height: 0.4rem;
                line-height: 0.4rem;
                margin-top: 0.25rem;
            }
            &:after {
                display: none;
            }
        }
        .noMenu {
            text-align: center;
            font-size: .28rem;
            color: #999999;
            flex: 1;
            .notice {
                color: #5CC166;
            }
            .iconfont {
                color: #5CC166;
                font-size: .54rem;
                display: block;
                margin-bottom: 0.1rem;
            }
        }
    }
}