.mui-content {
    background-color: none;
}

.mui-bar {
    height: .9rem;
    width: 100%;
    overflow: hidden;
    position: fixed;
    line-height: .9rem;
    background: -webkit-linear-gradient(left, #B1E34D, #5CC166);
    background: linear-gradient(to right, #B1E34D, #5CC166);
    background-color: #3fd49a;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
    .mui-title {
        margin: 0 auto;
        text-align: center;
        width: 3rem;
        height: .9rem;
        line-height: .9rem;
        font-size: .38rem;
        color: #fff;
        vertical-align: middle;
    }
    .mui-icon {
        color: #fff !important;
        line-height: .9rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    span.iconfont {
        height: .9rem; // width: .7rem;
        text-align: center;
        line-height: .9rem;
        color: #fff;
        font-size: .42rem;
        display: block;
        padding: 0 .1rem;
        &:active {
            color: #fbfbfb;
        }
    }
    .mui-btn-link {
        color: #ffffff;
        font-size: .32rem;
        line-height: .9rem;
        &:active {
            color: #ffffff;
        }
    }
    &~.mui-content {
        height: 100%;
        overflow: auto;
        padding-top: .9rem;
    }
}

.loading,
.noData {
    text-align: center;
    font-size: .24rem;
    padding: 1rem;
    color: #aaa;
}

.mui-pull-bottom-pocket {
    .mui-pull {
        font-weight: normal;
    }
}

.mui-pull-bottom-tips {
    text-align: center;
    font-size: .28rem;
    color: #999;
    margin: .2rem 0;
}

.mui-dtpicker,
.mui-poppicker {
    .mui-dtpicker-header,
    .mui-poppicker-header {
        .mui-btn-blue {
            border: 1px solid #5CC166;
            background-color: #5CC166;
        }
    }
    .mui-pciker-list li.highlight {
        color: #5CC166;
    }
    .mui-dtpicker-list li.highlight {
        color: #5CC166;
    }
}

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 2;
}

.mui-bar~.mui-pull-top-tips {
    top: 24px;
}

.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 2px 10px #eeeeee;
    overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
    /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;*/
    margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
    /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 2px 10px #eeeeee;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mui-pull-top-canvas canvas {
    width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #efeff4;
}