$yellow: #FFE75C;
$grrenChart: #7FCF5C;
$fontGreen: #5EC266;
$fontGray: #999999;
$fontBlack: #666666;
$fontDarkBlack: #333333;
.app-container {
    height: 100vh;
    .mui-bar {
        box-shadow: none;
    }
    .mui-content {
        background-color: #fafafa;
    }
    .chart {
        overflow: auto;
        height: 100%;
        position: relative;
        &-panel {
            margin: .4rem;
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.07);
            background-color: #ffffff;
            &-header {
                height: 0.9rem;
                line-height: 0.9rem;
                font-size: .32rem;
                color: #333333;
                text-align: center;
                position: relative;
                &::after {
                    position: absolute;
                    content: " ";
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 0.02rem;
                    background-color: #f5f5f5;
                }
            }
            &-item {
                .bagging-wrap {
                    display: flex;
                    padding: 0 0.2rem;
                    justify-content: center;
                    flex-wrap: wrap;
                    position: relative;
                    .bagging-item {
                        width: 33.333%;
                        text-align: center;
                        padding: .43rem 0;
                        label {
                            line-height: 0.42rem;
                            font-size: 0.3rem;
                            color: $fontGray;
                        }
                        .text {
                            display: block;
                            line-height: 0.56rem;
                            font-size: .4rem;
                            margin-top: 0.14rem;
                            color: $fontGreen;
                        }
                    }
                    &::after {
                        position: absolute; // content: " ";
                        bottom: 50%;
                        margin-top: -0.01rem;
                        left: 0;
                        right: 0;
                        height: 0.02rem;
                        background-color: #f5f5f5;
                    }
                }
                .pipe-wrap {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    position: relative;
                    .pipe-item {
                        width: 50%;
                        height: 3.98rem;
                    }
                }
            }
        }
    }
}