.user {
    height: 100vh;
    .mui-bar.mui-bar-nav.mui-bar-transparent {
        background: none;
        background-color: rgba(92, 193, 102, 0);
        box-shadow: none;
    }
    .mui-content {
        height: 100%;
        background-image: url("../../assets/images/user_bg@3x.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        .overview {
            height: 3.1rem;
            width: 100%;
            display: flex;
            position: relative;
            padding-top: .55rem;
            .total {
                flex: 1;
                text-align: center;
                color: #ffffff;
                h1 {
                    font-size: .6rem;
                    margin: 0;
                    height: 0.84rem;
                    line-height: 0.84rem;
                }
                span {
                    line-height: 0.4rem;
                    display: block;
                    height: 0.4rem;
                    margin-top: 0.2rem;
                    font-size: .28rem;
                }
            }
            &::after {
                content: " ";
                position: absolute;
                width: .02rem;
                height: .78rem;
                left: 50%;
                margin-left: -0.01rem;
                background-color: rgba(255, 255, 255, 0.3);
                bottom: 1.46rem;
            }
        }
        .dataChart {
            padding: .54rem .4rem;
            h3 {
                font-size: .32rem;
                height: 0.44rem;
                line-height: 0.44rem;
                font-weight: normal;
                margin: 0;
            }
            .charts {
                margin-top: 0.42rem;
                .item {
                    display: flex;
                    align-items: center;
                    height: .4rem;
                    line-height: .4rem;
                    justify-content: space-between;
                    margin-bottom: .2rem;
                    .title {
                        width: 1.68rem;
                        font-size: .26rem;
                        color: #999999;
                        text-align: right;
                    }
                    .count {
                        flex: 1;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding-left: .3rem;
                        .len {
                            height: .16rem;
                            border-radius: .08rem;
                            line-height: .16rem;
                            background: -webkit-linear-gradient(left, #B1E34D, #5CC166);
                            background: linear-gradient(to right, #B1E34D, #5CC166);
                        }
                        span {
                            font-size: .24rem;
                            color: #5CC166;
                            margin-left: .24rem;
                        }
                    }
                    .count-x {
                        flex: 1;
                        color: #999999;
                        font-size: .28rem;
                        height: .4rem;
                        line-height: .4rem;
                        display: flex;
                        justify-content: space-between;
                        padding-left: .3rem;
                    }
                }
            }
        }
    }
}