.addData {
    height: 100vh;
    .mui-content {
        background-color: #ffffff;
        .fields {
            &-item {
                position: relative;
                padding: .34rem 0.4rem;
                &::after {
                    position: absolute;
                    content: " ";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 0.02rem;
                    background-color: #f7f7f7;
                }
            }
            &-label {
                font-size: .34rem;
                color: #5CC166;
                height: 0.42rem;
                line-height: 0.42rem;
            }
            &-input {
                margin-top: .2rem;
                select {
                    padding: .05rem .2rem;
                    margin: 0;
                    box-shadow: 0 0 0 1px #eeeeee;
                }
                input {
                    color: #333333;
                    border: 0 none;
                    height: 0.48rem;
                    line-height: 0.48rem;
                    margin: 0;
                    padding: 0;
                    font-size: .3rem;
                    background-color: transparent;
                    &::-webkit-input-placeholder {
                        font-size: .3rem;
                    }
                }
            }
            &-btns {
                margin: 0.6rem 0;
                display: flex;
                justify-content: center;
                .btn {
                    height: .78rem;
                    border-radius: .4rem;
                    border: solid .02rem #5CC166;
                    text-align: center;
                    color: #5CC166;
                    font-size: .3rem;
                    background-color: #fff;
                    padding: 0 .6rem;
                    margin: 0 .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.block {
                        background: -webkit-linear-gradient(left, #B1E34D, #5CC166);
                        background: linear-gradient(to right, #B1E34D, #5CC166);
                        color: #ffffff;
                        height: 0.8rem;
                        border: 0 none;
                    }
                }
            }
        }
    }
}